<li id="teams-<%= team.id %>">
  <span class="name">
    <%= team.name %>
    <%= link_to("Show", show_team_path(team), { :class => "link-light"}) %>
    <%= link_to("Edit", edit_team_path(team),  { :class => "link-light"}) %>
    <% if !@project.blank? %>
      <%= link_to("Delete", delete_team_path(team, :user_id => current_user.id, :project_id => @project.id ), {method: :delete, :class => "link-light"}) %>
      <% else %>
      <%= link_to("Delete", delete_team_path(team, :user_id => current_user.id, :from => 'user'), {method: :delete, :class => "link-light"}) %>
    <% end %>

  </span>
</li>