<h2>Edit task</h2>

<%= form_for :task, method: :patch, :url => {:action => "update", :id => @task} do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, autocomplete: "content" %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :due_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status, autocomplete: "status" %>
  </div>
  <div class="field">
    <%= f.label :estimation %><br />
    <%= f.text_field :estimation, autocomplete: "estimation" %>
  </div>

  <%= hidden_field_tag :project_id, params[:project_id] %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>