<!doctype html>
<html>
  <body class="text-center">
    <div class="container" >
      <main class="form-signin">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1 class="h3 mb-3 fw-normal">Please log in</h1>
          <div class="form-floating">
            <%= f.email_field(:email, {:class => "form-control", :id => "floatingInputEmail"}) %>
            <label for="floatingInputEmail">Email</label>
          </div>

          <div class="form-floating">
            <%= f.password_field(:password, {:class => "form-control", :id => "floatingInputPassword"}) %>
            <label for="floatingInputPassword">Password</label>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="checkbox mb-3">
              <label>
                <%= f.check_box :remember_me %> Remeber me
              </label>
            </div>
          <% end %>

          <div class="form-floating">
            <%= f.submit("Log in", { :class => "w-100 btn btn-lg btn-primary"}) %>
          </div>
        <% end %>

      </main>
    </div>
  </body>
</html>
